[2020-09-14 22:08] KrisRecoveryDharma opened #1 "RDG Meeting List Meeting"
Meeting of new Meeting List Team to provide orientation to new members and assign tasks. Proposed time:  Thursday 9/14/20 at 5 PM Eastern / 2 pm Pacific Time.

[2020-09-16 00:58] unity1979 opened #2 "RDG meeting list: Should include simple call-in details"
• so people know they can call in to these meetings
• we just need to tell them the Meeting ID and the same call-in info as follows:

[code]

[2020-09-16 01:01] unity1979 commented on #2
Thoughts? Perhaps wait to discuss at meeting?

[2020-09-16 02:02] KrisRecoveryDharma commented on #2
Yes, that is the kind of thing that we will be able to include on the new
database, and also on the new Getting Started Beginners Guide.

Kris

On Tue, Sep 15, 2020 at 9:01 PM unity1979 <notifications@github.com> wrote:

[2020-09-18 00:44] unity1979 commented on #2
I'm thinking we can add this to the SiteMap temporarily. And offer this info:
1) When instructed, enter the zoom ID meeting number and password.
2) If you are unsure of the zoom ID meeting number, please email the meeting's contact. Ask them for the Meeting ID and Password for the time/day in question.

[2020-09-18 04:16] KrisRecoveryDharma commented on #2
Lacey also wants to see this happen.   I think there are at least 3 different ways to solve this problem. We should have a zoom meeting soon to discuss the options.   She cannot attend the meeting on Friday at 6 pm.  perhaps we can schedule a meeting this weekend or on monday.

[2020-09-18 04:18] KrisRecoveryDharma commented on #2
Confused about adding to the site map. I'm not sure what that means. I know what a site map is. But that is not the language I am familiar with for adding.  Where would it show up to give people the direction?

[2020-09-18 05:36] unity1979 commented on #2
(A) On the [sitemap] tab, I imagine it just has make-shift temporary instructions, since it's sort of a global "help/faq" type page. I'm totally open to other suggestions.

![image](https://user-images.githubusercontent.com/70724023/93559866-9369f880-f935-11ea-97d1-9a317443eeea.png)

Possible other suggestion: (B) a Column for a URL for each meeting in the spreadsheet. It somehow has instructions

[2020-09-20 14:26] KrisRecoveryDharma opened #3 "Glitch on In Person Meetings Page"
The meeting time for San Antonio is showing up with the UTC time offset rather than the local meeting time. The row is also highlighted.  I'm not sure what the scripts are on this page, so I can't fix.  I checked to make sure their listing in the Unsorted List is correct.   The glitch will need to be addressed by Thom.

https://docs.google.com/spreadsheets/d/13sb_3p0pX-WLMnQP9kOszR1WE5LeeeamycD_ca

[2020-09-21 19:00] ctwilkie commented on #3
I got the time fixed.

[2020-09-22 19:19] unity1979 opened #4 "Update the Google Form"
[UPDATE] @Lacey-boop created a google doc and we are working on the beta version there:
https://docs.google.com/document/d/1O_Y9UYb5ol4P99WL-RHmoQf30gfFPCXDseI_dUaOKnM/edit

The google form needs to be updated to address our current needs.
https://docs.google.com/forms/d/17mBiGRtqUE_1_sgraPqvJnWmY_DbNr_nAQR8-1f8f3g/edit

[2020-09-22 19:23] unity1979 commented on #4
For discussion: adding columns for:
- City/State/Country
- Zoom URL
- Zoom Meeting ID
- Zoom Password

(Note: Phone Dial-in info can be static text as follows:
1. USA, Dial 888-788-0099 (International callers, find your number at http://zoom.us/u/acpgkfsdFg)
2. Enter Zoom Meeting ID followed by #
3. Enter password, followed by # )

[2020-09-22 19:55] unity1979 commented on #4
Update Meeting Status from "Meeting Postponed, Canceled, or Online?" to something else.
- Add a new meeting
- Change an existing meeting
- Cancel a meeting

[2020-09-22 20:36] #3 closed, assigned to KrisRecoveryDharma, Lacey-boop, unity1979, ctwilkie

[2020-09-22 20:38] KrisRecoveryDharma commented on #2
Move this issue over to the other, newer issue:  Update Google Form.

[2020-09-22 20:38] #1 closed

[2020-09-22 20:41] KrisRecoveryDharma opened #5 "Update links to time Converted tabs"
Update the links to the Time Converted and the In Person tabs so that
1) Only that tab shows
2) is embedded in our website.

Thomas and Craig will generate and collect the URLs.
Then they will work with Sean to update  the menu and the page, https://recoverydharma.org/meeting-list

[2020-09-22 20:43] KrisRecoveryDharma opened #6 "Meeting Information Update"
After the Meeting form is updated, Kris will send an email to all active meeting contacts updating them on the plans for the list.
Kris will encourage meeting organizers to review their meeting listings and to send updates or changes using the new Add/Change form.

[2020-09-22 20:44] #2 closed, assigned to KrisRecoveryDharma, Lacey-boop, unity1979, ctwilkie

[2020-09-22 20:49] unity1979 opened #7 "Use "Publish" to create URLs to Non-Tabbed version of each time zone"
Goal: Hide all tabs.

Publish spreadsheet, create a table of all resulting spreadsheets. Example of publishing:

Example result:

[2020-09-22 21:11] unity1979 commented on #5
please note: Users will no longer be able to add comments if we use this solution.

@nutjob4life  Here are the links to be updated:

Tab/Time Zone Name | Published HTML Link:
-- | --
In Person | https://docs.google.com/spreadsheets/d/e/2PACX-1vQmuN3eHggYoR9maoLttce3MkZLTZ0UTByIv_lKK7MbXEElHMBCwD_HX8aP3d1Tcp-J7TihbPgatLWL/pubhtml?gid=1492891510&single=true
Hawaii | https://docs.google.com/spreadshe

[2020-09-22 21:25] KrisRecoveryDharma opened #8 "Proposal: On Meeting List page, Move "Stay Connected" and "About Process" up towards the top of the page"
Hello Meeting List Team,

Currently on the Meeting page
https://recoverydharma.org/meeting-list

The sections "Stay Connected" and "About the process" are at the bottom of the first column.
There is a proposal to move it up towards the top by putting it at the bottom of the second, (shorter) Column.
So, Stay Connected would be listed directly under "Start a New Online Meeting."

Please let me know

[2020-09-23 01:00] unity1979 commented on #7
Done. For convenience, links can be found on the hidden [Sitemap] tab.

For reference they are as follows:
Tab/Time Zone Name | Published HTML Link:
-- | --
In Person | https://docs.google.com/spreadsheets/d/e/2PACX-1vQmuN3eHggYoR9maoLttce3MkZLTZ0UTByIv_lKK7MbXEElHMBCwD_HX8aP3d1Tcp-J7TihbPgatLWL/pubhtml?gid=1492891510&single=true
Hawaii | https://docs.google.com/spreadsheets/d/e/2PACX-1vQmuN3eHggY

[2020-09-23 01:00] #7 closed, assigned to nobody

[2020-09-23 21:12] unity1979 commented on #3
I got the highlighting oddities fixed as well 👍 The cells were set to conditional highlighting.

[2020-09-23 21:20] unity1979 commented on #4
Lacey is managing the Working Meeting List google doc to make suggestions for updating this list at: https://docs.google.com/document/d/1O_Y9UYb5ol4P99WL-RHmoQf30gfFPCXDseI_dUaOKnM/edit

[2020-09-24 18:20] unity1979 commented on #8
Sean has has addressed this and it looks fabulous 💖 (Please re-open issue if I am seeing unclearly)

![image](https://user-images.githubusercontent.com/70724023/94183810-d9ecb500-fe57-11ea-9e5a-5bcc839585ab.png)

[2020-09-24 18:20] #8 closed, assigned to KrisRecoveryDharma, Lacey-boop, unity1979, ctwilkie

[2020-09-28 06:09] unity1979 commented on #5
Should we open a new issue under /Website to update the website links to the above table?  re: https://recoverydharma.org/meeting-list ? @nutjob4life @KrisRecoveryDharma

![image](https://user-images.githubusercontent.com/70724023/94396312-8360ce80-0116-11eb-8513-671db9dfe5f4.png)

[2020-09-28 18:57] KrisRecoveryDharma commented on #5
Yes! Thank you!  I dropped that thread.
Please create a new issue on the Website GitHub.  Assign to both Seana and
Dirk.

On Mon, Sep 28, 2020 at 2:09 AM A. Thomas Tran <notifications@github.com>
wrote:

[2020-09-28 23:03] unity1979 opened #9 "In-Person [tab] is broken after Meeting List form updated"
After implementing #4 -- Cells are blank in the tab.

![image](https://user-images.githubusercontent.com/70724023/94494443-1136cb00-01a4-11eb-8cd3-dbc9f8cd86e5.png)

[2020-09-28 23:21] unity1979 commented on #9
Fixed.

(After the Meeting Form update, Column R was moved back adjacent to Column L)
![image](https://user-images.githubusercontent.com/70724023/94495441-9d49f200-01a6-11eb-9206-b4529447d74e.png)

result:
![image](https://user-images.githubusercontent.com/70724023/94495456-acc93b00-01a6-11eb-9fe3-840be87989c2.png)

[2020-09-28 23:21] #9 closed, assigned to unity1979

[2020-09-28 23:24] unity1979 commented on #4
Closing issue! Meeting update form updated per document.

![image](https://user-images.githubusercontent.com/70724023/94495546-f023a980-01a6-11eb-8f1a-3998f735d6f0.png)

1. What do you need to do?:
Add a new meeting
Change to an existing meeting
Cancel Meeting

2, Meeting Name (if applicable) and/or Affinity Group (e.g. PDX Queer Paths / LGBTQIA+):

Time Section

3. Which Day of the Week is the Me

[2020-09-28 23:24] #4 closed, assigned to Lacey-boop, unity1979

[2020-09-28 23:59] unity1979 opened #10 "In google sheet, the Protected Sheets & Ranges should be disabled"
Disable all Protected sheets & ranges. (@Lacey-boop and @unity1979 were previously locked out)

Brief Instructions:
1. On spreadsheet, click Data -> click Protected sheets & Ranges:
![image](https://user-images.githubusercontent.com/70724023/94497065-ebf98b00-01aa-11eb-8d93-2411a902e2dd.png)

2. Click each protected element:
![image](https://user-images.githubusercontent.com/70724023/94497162-3418

[2020-09-29 12:23] #5 closed, assigned to nutjob4life, unity1979, ctwilkie

[2020-09-29 13:06] ctwilkie commented on #10
Done!

[2020-09-29 17:53] unity1979 commented on #10
The friend speaks my mind. This is done and thank you.

[2020-09-29 17:53] #10 closed, assigned to KrisRecoveryDharma, ctwilkie

[2020-09-29 18:07] unity1979 opened #11 "Resize [Timezone] tabs for best horizontal fit (for printing)"
There are excess columns on the right side of the [Timezone] tabs. Suggestion to delete those columns

[2020-09-29 18:08] unity1979 commented on #11
Fixed, closing 🙏
![image](https://user-images.githubusercontent.com/70724023/94598640-164b5700-0244-11eb-810d-86a62b05e2ad.png)

[2020-09-30 15:27] KrisRecoveryDharma commented on #11
Just to clarify and confirm: the core issue was that the document was not
printer-friendly because the last column did not fit on the page.  It looks
like that is the problem that you solved.  Jut want to make sure.
Thanks!
Kris

On Tue, Sep 29, 2020 at 2:08 PM A. Thomas Tran <notifications@github.com>
wrote:

[2020-10-01 00:26] unity1979 commented on #11
(yes this was for addressing the printer-friendly problem! also this comment is for testing github subscription.)

[2020-10-01 00:26] #11 closed, assigned to unity1979

[2020-10-01 02:38] unity1979 opened #12 "Add column for Meeting ID only (so people can call in)"
Use a function to parse out the Meeting ID if there is a zoom link.

[2020-10-01 02:46] unity1979 opened #13 "Add column with call-in details"
Proposing that we just leave
1. the USA toll free 888 number; and
2. a URL to show international dial-in information.

We do not need to leave other instructions--they are spoken to the reader. As long as they have the Meeting ID and the Passcode, all is well.  Suggested column info:

**USA: 888-475-4499 • Or [http://bitly.com/international-zoom-callin](http://bitly.com/international-zoom-callin)*

[2020-10-01 03:36] unity1979 opened #14 "Published meeting list sometimes displays garbage"
it's not pretty.

the user needs to refresh the page and it will display correctly, but it's unsightly
![image](https://user-images.githubusercontent.com/70724023/94762275-163e7a80-035c-11eb-981c-8f9e88744872.png)

steps to reproduce:
1. visit https://docs.google.com/spreadsheets/u/4/d/e/2PACX-1vQmuN3eHggYoR9maoLttce3MkZLTZ0UTByIv_lKK7MbXEElHMBCwD_HX8aP3d1Tcp-J7TihbPgatLWL/pubhtml?gid=496973103
2.

[2020-10-01 05:37] KrisRecoveryDharma opened #15 "Newly Linked time Zone tabs are not showing day and time"
https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vQmuN3eHggYoR9maoLttce3MkZLTZ0UTByIv_lKK7MbXEElHMBCwD_HX8aP3d1Tcp-J7TihbPgatLWL/pubhtml?gid=1567715471&single=true

We received a notice that the time and date for Mountain Time tab are not showing up.
I just checked the page.  When I go to the original link, they show up fine.  when I go to the new links, less than half of tab pages are showing

[2020-10-01 05:39] unity1979 commented on #15
Bug is intermittent, if refreshed once or twice it will properly display.  This is for all pages. this is reported as bug #14

For me it loaded as this:
![image](https://user-images.githubusercontent.com/70724023/94772106-bc46b080-036d-11eb-8d31-ded9740c13a8.png)

But if you refresh it sometimes it displays this garbage as "#NAME?"
![image](https://user-images.githubusercontent.com/70724023/947722

[2020-10-01 05:40] unity1979 commented on #15
I recommend we revert to previous version for now until we find a fix

[2020-10-01 05:45] KrisRecoveryDharma commented on #15
I just checked it and most of them did not work for me.
![image](https://user-images.githubusercontent.com/70176719/94772534-d7261e80-0387-11eb-8af4-684e9e72e3e0.png)

[2020-10-01 05:46] KrisRecoveryDharma commented on #15
Gremlins!!!!

[2020-10-01 05:48] unity1979 commented on #14
Re-reported as bug #15

[2020-10-01 05:48] #14 closed, assigned to nobody

[2020-10-01 05:49] KrisRecoveryDharma commented on #15
I sent the link to the original spreadsheet to the list.

[2020-10-01 06:57] unity1979 commented on #15
Possible quickfix: There is a problem on the Protected & Hidden sheet "Zone".
Column C makes calls to a function called TimeZoneOffset, which sometimes incurs Loading time resulting in a "Loading..." for the values we need.

We can fix this if we have access to editing [Zone] tab and hardcode the values for now.
![image](https://user-images.githubusercontent.com/70724023/94777715-c7530e00-0378-11e

[2020-10-01 16:20] unity1979 commented on #15
Requesting edit rights for [zone] tab. Currently it is still locked to View Only. Here is a comment on why the bug is happening and how anyone with edit rights to [zone] tab can fix it 👍

![image](https://user-images.githubusercontent.com/70724023/94835993-48d18d00-03c7-11eb-9320-b1d1b77b5870.png)

[2020-10-01 16:23] unity1979 commented on #15
Alternatively, if someone has editing rights (@KrisRecoveryDharma), if you could paste these constant values into Column C, we can close this issue and move forward

Paste these into column C of [Zone]
--
0.4166666667
0.4166666667
0.04166666667
-0.2083333333
0.08333333333
-0.1666666667
-0.1666666667
0.04166666667
-0.4166666667
0.375
-0.25
0.2395833333
-0.125
0.5416666667
-0.2916666667

[2020-10-01 17:01] unity1979 commented on #15
I have pasted hard-coded values.  This is fixed from what I am seeing. Can others verify and then close?

![image](https://user-images.githubusercontent.com/70724023/94840393-36f2e880-03cd-11eb-8763-0d5a5b2decec.png)

[2020-10-01 17:03] ctwilkie commented on #15
you should be able to edit now, I removed the protected range.

[2020-10-01 17:04] ctwilkie commented on #15
is it fixed b/c I reverted back a version?

[2020-10-01 17:05] unity1979 commented on #15
No it's fixed because I entered hardcoded values, instead of trying to compute the value 0.416666 about a million times every day :)  But also your revert helped fix other things!

[2020-10-02 15:35] unity1979 commented on #15
Fixed, closing issue. Go team!

[2020-10-02 15:35] #15 closed, assigned to KrisRecoveryDharma, Lacey-boop, unity1979, ctwilkie

[2020-10-02 15:36] unity1979 commented on #12
Current formula for reading out Meeting ID from a URL stands:
=REGEXREPLACE(REGEXREPLACE(REGEXREPLACE(**ENTER_CELL_ELEMENT_HERE**,".*j/",""),"\?.*",""),"[^0-9]", "")

Results appear as follows
![image](https://user-images.githubusercontent.com/70724023/94942270-e93cb580-048a-11eb-9d18-d4712db0de13.png)

[2020-10-09 06:30] unity1979 commented on #13
Added, closing
![image](https://user-images.githubusercontent.com/70724023/95550701-31ddfc80-09be-11eb-9142-14a2f6901837.png)

[2020-10-09 06:30] #13 closed, assigned to unity1979

[2020-10-09 06:30] unity1979 commented on #12
Added, closing
![image](https://user-images.githubusercontent.com/70724023/95550729-3d312800-09be-11eb-9bde-e164b6b907d2.png)

[2020-10-09 06:30] #12 closed, assigned to unity1979

[2020-10-09 06:31] unity1979 opened #16 "Add link for Printable version of entire meeting list"
Add a link that links to the comment-able spreadsheet. This will allow the user to print the entire meeting list. Otherwise it can only print what is currently viewable (e.g. 1 page only)

[2020-10-09 06:35] unity1979 opened #17 "Remove Protected Range for tab [Online UTC] (or enable editing for Thomas)"
There is an error in the way that Online UTC determines whether the meeting is Online.

Currently it is pulling from column B.  We need to replace this with E, "How is this meeting happening?"

[2020-10-09 06:36] unity1979 opened #18 "Fix filtering for searching on [Online UTC] tab to read from appropriate column"
There is an error in the way that Online UTC determines whether the meeting is Online.

Currently it is pulling from column B. We need to replace this with G, "How is this meeting happening?"

[2020-10-09 13:08] KrisRecoveryDharma commented on #17
Thank you for attending to this.  Though, there are a few adjustments.

I do not see the error. Everything seems to be pulling okay. Can you pinpoint the error?
Column B is central to the script. It is, in fact the central pivot. It provides the Offset Calculation.
Column E (not G)  is the "How is this meeting happening"  that is also involved in the script.  It appears to be working.  What is the

[2020-10-09 13:09] KrisRecoveryDharma commented on #18
I think this is  duplicate of #17 issue.
Thanks,
Kris

[2020-10-09 19:00] unity1979 commented on #17
Ooops yes you're right I'm tripping about Column G, it is Column E. let me update.

[2020-10-09 19:04] unity1979 commented on #17
If you look at the Unsorted equation below, you will notice that it is checking for "Online" in Column B.  However, in our questionairre, that's not where we ask about the Online/Inperson status.  Column B we ask for these 3 questions:

- Add a new meeting
- Change an existing meeting
- Cancel a meeting

(I hacked a temp hotfix and renamed them to "Add new Online" and "Change Online" and "Cancel O

[2020-10-09 19:05] unity1979 commented on #17
If we were to re-enter the equation as follows, it would work properly for new entries:

=sort(filter('(unsorted)'!$C$3:$R,iferror(search("online",'(unsorted)'!$E$3:$E)>=0,false),iferror(search("yes",'(unsorted)'!$L$3:$L)>=0,false)),2,true)

[2020-10-09 19:07] unity1979 commented on #18
It was on purpose, I was perhaps incorrectly assuming that we would resolve the problem by granting me access to the Online UTC tab.

Access would *greatly* improve speed and aid the meeting list in future similar changes (such as adding columns for Zoom ID and Dial-In info)   For me, being locked out of the Online UTC slows things down tremendously.  It forces me to have to think of work-arounds

[2020-10-09 20:15] KrisRecoveryDharma opened #19 "NEW MEETING LIST - Security Question"
Hey Friends!

The Action User Addon is back on the table!  (Yay!!!)

There is a question about 2 options:
1.  Account holders can add and change their information without any moderation or approval process.
2.  Account holders can add and change their information with moderation / approval stop.

In both cases account holders can return as often as they like to change as much or as little as they

[2020-10-09 21:56] unity1979 commented on #17
This is what happens if I didn't replace "Add a new meeting" with "Add a new meeting ONLINE".
1) The Online UTC becomes blank
2) All timezones become blank

Feel free to verify by clicking on this spreadsheet here:
https://docs.google.com/spreadsheets/d/1GGb5S7OyFpM1L7Vsdp4FPBz-qYZ_W6HPM_xFVLpt4Q4/edit#gid=1720303593

![image](https://user-images.githubusercontent.com/70724023/95634781-8a091300-0a

[2020-10-10 12:42] unity1979 opened #20 "On [Unsorted], the special columns that are parsed for displaying to public should be grouped on Leftmost side"
Those columns which affect the display on Online UTC and In-Person tabs should be moved to the left side in the Unsorted tab.

These columns should include:
Timestamp | UTC Sort | How is this meeting happening? | Open to public?

[2020-10-11 07:53] unity1979 commented on #20
Complete. All tabs are displaying appropriately

![image](https://user-images.githubusercontent.com/70724023/95673294-20caf200-0b5c-11eb-9e11-5ce5749c1b0a.png)

[2020-10-11 07:53] #20 closed, assigned to unity1979

[2020-10-11 07:53] unity1979 commented on #17
Craig removed protection as requested. Thanks

[2020-10-11 07:53] #17 closed, assigned to KrisRecoveryDharma

[2020-10-11 07:54] unity1979 commented on #18
I have Implemented as requested. Closing bug

[2020-10-11 07:54] #18 closed, assigned to unity1979

[2020-10-11 08:28] unity1979 commented on #16
Added and verified

![image](https://user-images.githubusercontent.com/70724023/95673821-fb8cb280-0b60-11eb-9599-fc5fb71705d0.png)

[2020-10-11 08:28] #16 closed, assigned to unity1979

[2020-11-14 21:06] KrisRecoveryDharma commented on #19
Settled for now

[2020-11-14 21:06] #19 closed, assigned to nobody

[2020-11-14 21:07] KrisRecoveryDharma commented on #6
This is process is still pending with the Website designer, but we are getting closer. Will close this issue for now and reopen when firespring has provided the Action User Form.

[2020-11-14 21:07] #6 closed, assigned to KrisRecoveryDharma, Lacey-boop, unity1979, ctwilkie

[2020-11-14 21:10] KrisRecoveryDharma opened #21 "Reconsider open / close status of Unsorted Tab"
Change of Open status of Unsorted Tab.

Hello Team,

I reviewed the covid list in response to a recent comment asserting that a person's private information was listed on a public page.  I conducted a search for the person's name, but did not find it. However, when I returned to the list a second time, I noticed that we have a column that states "Private information that will not be shared with th

[2020-11-14 21:45] KrisRecoveryDharma commented on #21
Solution

Keep the sharing level the same - anyone with the link can comment.
Hide the column for private contact information.  Any of us with the ability to edit the document will be able to open unhide that column, but no one else will.

[2020-11-14 21:47] KrisRecoveryDharma commented on #21
Someone else is in the document making changes on top of me / behind me. Thank you for your initiative. However, please let me do the task.

[2020-11-14 21:48] KrisRecoveryDharma commented on #21
Thank you!
Complete

[2020-11-14 21:48] #21 closed, assigned to nutjob4life, KrisRecoveryDharma, Lacey-boop, unity1979, ctwilkie

[2020-11-29 02:07] unity1979 opened #22 "Add update/add links in a signature for emails coming from meetings@recoverydharma.guide"
In order to reduce repetitive tasks/information as meetings@recoverydharma.org replies to emails, I thought we can apply a signature with the most common info.  Among added benefits: people will know they can comment on specific meeting details on the spreadsheet to update their meeting. As before, this helps reduce workload by pinpointing exact meetings that require update.

Suggesting this signa

[2020-11-29 02:08] unity1979 commented on #22
(Approval? Thoughts? Changes?) 🙏

[2020-11-29 02:46] KrisRecoveryDharma commented on #22
I think it sounds like a great idea!
I have no suggested changes.
I vote to proceed.
Kris

On Sat, Nov 28, 2020 at 9:09 PM A. Thomas Tran <notifications@github.com>
wrote:

[2020-11-30 11:54] unity1979 commented on #22
Thanks— Does this require the approval of each of the others as well, or
should I implement this?

On Sat, Nov 28, 2020 at 6:46 PM Kris Recovery Dharma <
notifications@github.com> wrote:

[2020-11-30 14:09] ctwilkie commented on #22
Works for me!

On Mon, Nov 30, 2020 at 6:54 AM A. Thomas Tran <notifications@github.com>
wrote:

[2020-11-30 14:09] Lacey-boop commented on #22
Yes great idea

On Mon, Nov 30, 2020 at 9:09 AM ctwilkie <notifications@github.com> wrote:

--
Lacey Browne
Recovery Dharma Global
pronouns: she/her
917-710-7744

[2020-11-30 15:06] KrisRecoveryDharma commented on #22
I believe this is sufficient notice.  It is an idea that has been discussed
in the past and supported.

On Mon, Nov 30, 2020, 6:54 AM A. Thomas Tran <notifications@github.com>
wrote:

[2020-12-01 12:32] unity1979 commented on #22
Excellent. Implemented and closing

![image](https://user-images.githubusercontent.com/70724023/100740826-2d1a4100-338e-11eb-8d9c-d30ab9454d27.png)

[2020-12-01 12:32] #22 closed, assigned to KrisRecoveryDharma, Lacey-boop, ctwilkie

[2020-12-06 01:15] KrisRecoveryDharma opened #23 "Remove meeting from list"
This meeting needs to be removed from the list.  I have gone ahead and marked that it is not open to the public, hoping that will remove it from the tabs.

Add new | 2020-04-01 21:18 | Thursday 7:30 PM | Yes | Online | Thursday | 1:30 PM | CDT |   | St Louis, Missouri, USA | https://www.surveymonkey.com/r/T6KTVCM |   |   | Mettamay4you@gmail.com

It is currently listed at #162 on the unsorted page

[2020-12-07 00:28] unity1979 commented on #23
Meeting has been removed!

@KrisRecoveryDharma if you can write here why
1) it is inconsistent w core intentions
2) what their alternatives are,
it would greatly help me understand and I could draft the email.

[2020-12-07 05:18] KrisRecoveryDharma commented on #23
There were a few reasons.

The email went to a company website. In addition to our not affiliating
with businesses, it appeared that the meeting was not facilitated by peers,
but by the owner of the business.  We do not have the power or desire to
restrain others organizations from using our materials, but we do not list
those meeting on our site.  The same would b etrue for a treatment center.
If

[2020-12-07 05:28] KrisRecoveryDharma commented on #23
If she can demonstrate that it is a peer-led meeting, then it can go back
up, but it would need to not be connected to a business. Peer-led does not
just mean that she is also in recovery. It means that it is not an aspect
of her business. We are quite adamant about that, given our recent birth
history.

Thanks again,

Kris

On Mon, Dec 7, 2020 at 12:18 AM Kris Recovery Dharma <
notifications@gith

[2020-12-07 17:14] unity1979 commented on #23
@KrisRecoveryDharma Your input is clearly thought out with skillfulness.  If you're happy to, please reach out to her to explain these details?  I'm so glad you caught this, how did you hear about it?  I've seen this meeting before but didn't think twice

[2020-12-08 06:15] KrisRecoveryDharma commented on #23
Thanks Somene brought it to my attention.

On Mon, Dec 7, 2020, 12:14 PM A. Thomas Tran <notifications@github.com>
wrote:

[2020-12-10 00:28] unity1979 commented on #23
@KrisRecoveryDharma Did you write her? (so we can close out this bug! :) ) Thank you

[2020-12-10 05:12] KrisRecoveryDharma commented on #23
I will try to get to it tomorrow afternoon.
Thank you!
Kris

On Wed, Dec 9, 2020 at 7:28 PM A. Thomas Tran <notifications@github.com>
wrote:

[2020-12-27 20:33] KrisRecoveryDharma opened #24 "Holiday Schedule"
Work with joel@recoverydharma.org to develop a list of meetings that are meeting on during the new year holiday.

Start with the regularly scheduled meetings to confirm by reaching out by email to the emails of the meeting facilitators for regularly scheduled meetings.

Also reach out to the general community to ask if there will be any specially scheduled meetings.

Next year, our calendar will b

[2021-01-06 18:37] KrisRecoveryDharma opened #25 "Coordination with BRN Site"
Hello team!

BRN has graciously worked to publicize our meetings on their website.  The last I checked, they were synchronized with our live updates. However, I am realizing that they are probably linked to the unsorted page. Could someone reach out to them just to check in to make sure we're still up to date, accurate, and helpful?

I'm thinking this is a great project for Thomas and Craig

Click

[2021-01-08 18:58] #25 closed, assigned to KrisRecoveryDharma, Lacey-boop, unity1979, ctwilkie

[2021-01-14 01:27] unity1979 commented on #23
The meeting was removed, thanks all!

[2021-01-14 01:27] #23 closed, assigned to Lacey-boop, unity1979, ctwilkie

[2021-01-14 01:36] unity1979 commented on #24
This was completed, thanks all

[2021-01-14 01:36] #24 closed, assigned to nobody

[2021-01-15 18:30] KrisRecoveryDharma opened #26 "URGENT: Feedback on draft to Remove references to 2020 and Covid on the current meeting list page"
Hi Meeting List Team,

Here is the quick draft I created to remove references to 2020 and covid on the Meeting list page.  What I want from you is feedback - does it sound okay and accurate?  Sean is in the last stages of creating the new meeting list structure. We are on pace to launch the site within the next month.

Please offer either your approval or your suggested changes. Then. I will post

[2021-01-15 18:35] ctwilkie commented on #26
Approve! Makes sense to me to remove.

[2021-01-15 19:03] unity1979 commented on #26
Approval here 🙏

[2021-01-16 04:23] Lacey-boop commented on #26
Looks good!

On Fri, Jan 15, 2021 at 2:04 PM A. Thomas Tran <notifications@github.com>
wrote:

--
Lacey Browne
Recovery Dharma Global
pronouns: she/her
917-710-7744

[2021-01-22 02:15] Lacey-boop commented on #26
Hi all, were these changes made? Wanda emailed us about it

"hi!, please change the name of the meeting list and the drop down menu from 2020 to 2021. people are asking where the new list is... when we just need the date changed. thank you very much."
--

[2021-01-22 03:25] unity1979 commented on #26
This has been addressed, the final change was made on the Google Sheet to remove "2020"

![image](https://user-images.githubusercontent.com/70724023/105441812-2f767a00-5c1e-11eb-8820-7a837475a518.png)

Everything on the website looks addressed too. Nice
![image](https://user-images.githubusercontent.com/70724023/105441909-60ef4580-5c1e-11eb-8ff8-bb62ac2f2931.png)

I'll close this and if it needs t

[2021-01-22 03:25] #26 closed, assigned to KrisRecoveryDharma, Lacey-boop, unity1979, ctwilkie

[2021-01-22 14:27] KrisRecoveryDharma commented on #26
Thank you! I forgot about the google sheet!

[2021-06-12 20:47] unity1979 opened #27 "Request to add Country & State/Province for in-person lists"
This should be easy to add. We'll need:
- two new columns [country] [state/province]
- update the submission form to include these two fields
- update the in-person meetings tabs first, then ensure they are sorted in order of: 1) country, 2) state, 3) meeting times
- (asking for group conscious:) perhaps update all other TimeZone tabs to include these fields, in case we or BRN wants to use these f

[2021-06-13 00:16] unity1979 commented on #27
@Lacey-boop @KrisRecoveryDharma Requesting feedback from meeting-list volunteers: How does this look?  If all is well:
- I believe it's best to fully replace the haphazard [in-person] tab.
- I can send a note to BRN mentioning our [in-person] meetings has changed format.

Please advise, thanks!

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/70724023/121791748-258bee0

[2021-06-13 00:27] unity1979 commented on #27
Live link to the tab, for good measure: http://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vQmuN3eHggYoR9maoLttce3MkZLTZ0UTByIv_lKK7MbXEElHMBCwD_HX8aP3d1Tcp-J7TihbPgatLWL/pubhtml?gid=821095518&single=true

[2021-06-22 03:40] unity1979 commented on #27
Ok all set. Three columns have been added:
1. Country
2. Region (State)
3. Language Spoken (for good measure)

http://inperson.rd.guide

[2021-06-22 03:40] #27 closed, assigned to unity1979

[2022-02-10 14:22] unity1979 opened #28 "Meetings list is out of order (not sorted by GMT, so it's unusable)"
When in List View, the events are out of order. They're sorted by their own local time zone (instead of based on GMT.)

For example, see in blue: 10:30am, 10:00am, 9:00am
![image](https://user-images.githubusercontent.com/70724023/153426956-057fc44d-5ad0-4cf9-a924-38ee250b45c6.png)

Expected behavior:
They should be sorted by GMT

[2022-02-10 14:27] unity1979 opened #29 "Some meetings last multiple hours or days"
Some events are spanning multiple hours, or whole days:

![image](https://user-images.githubusercontent.com/70724023/153427554-fd83ad48-cdc4-472d-ade4-161712eb298c.png)

Expected behavior:
These events should last 60-90 minutes

[2022-02-10 14:30] unity1979 commented on #29
Peaceful Harmony with food meditation sangha seems to be a major one with:
Duration: **11 months**
Repeating: **Weekly**

Example:
![image](https://user-images.githubusercontent.com/70724023/153428223-9b028dc8-78da-44a4-b34a-cc5f74c1fcb6.png)
![image](https://user-images.githubusercontent.com/70724023/153428333-ad87bb62-156d-485a-bcf7-c387fad44db7.png)

[2022-02-10 14:38] unity1979 opened #30 "-Some Hybrid/Online events don't show the Orange label "[Virtual Event]""
After selecting:
https://recovery-dharma.flywheelsites.com/meetings/find-a-meeting/
List View → (Options Icon) → click Type → click Hybrid

Notice: Some Hybrid events are missing the orange label. Other events only display "Virtual Event".
![image](https://user-images.githubusercontent.com/70724023/153429403-6853201b-23c6-4ac2-be80-0730d7524ddb.png)

Expected behavior:
They should display Orange l

[2022-02-10 19:21] unity1979 opened #31 "When meeting filter is set to Online meetings, Hybrid meetings don't appear"
After selecting:
https://recovery-dharma.flywheelsites.com/meetings/find-a-meeting/
List View → (Options Icon) → click Type → click Online

Notice: No Hybrid events are shown in the list.

Expected behavior:
Hybrid events should also be listed for Online filters

[2022-02-10 19:30] unity1979 opened #32 "Reveal Local Times for meetings (they're hidden until onClick)"
Usability Bug & Feature request:
In List View, each meeting time is Hidden. User must click on "View in my time" to reveal when the meeting happens.

Steps to reproduce:
https://recovery-dharma.flywheelsites.com/meetings/find-a-meeting/
Click List View

Notice "View in my time" is not revealed.
<img width="321" alt="image" src="https://user-images.githubusercontent.com/70724023/153482323-a2480704-

[2022-02-10 21:32] unity1979 commented on #30
SIDE NOTE OF GOOD NEWS:
Only took 3 seconds to load this hybrid list! :)

[2022-02-11 11:53] unity1979 opened #33 "Request: Can we add Weekday? (Mon Tue Wed Thu Fri Sat Sun) to meeting list"
Meeting list does not show weekday information when displaying data.

Steps to reproduce:
Go to: https://recovery-dharma.flywheelsites.com/meetings/find-a-meeting/
Click: List View
Notice: Weekday is not presented

Ideal Behavior:
Indicates day of week along with date
![image](https://user-images.githubusercontent.com/70724023/153649200-0ac9b5db-f709-4d26-b490-812f49792406.png)

[2022-02-11 19:07] unity1979 opened #34 "-Affinity: Non-BIPOC meetings show up in BIPOC filter (same for: LGBTQIA+, Gender Expansive, Men, Women)"
To reproduce:
https://recovery-dharma.flywheelsites.com/meetings/find-a-meeting/
List View → Filter → Affinity → Women

Expected: I would expect a meeting list where it's Women/trans/NB only.

Notice: Organizers have selected Women, but also many or all other affinities, including Men.

Notice: These meetings also have elected many/all other affinities:
- BIPOC
- Gender Expansive
- LGBTQIA+
- Men

[2022-02-11 19:14] unity1979 opened #35 "New meeting list: Affinity marked "Other" shows up for WOMEN filter"
To reproduce:
https://recovery-dharma.flywheelsites.com/meetings/find-a-meeting/
List View → Filter → Affinity → WOMEN

Notice: Many meetings with Affinity "Other" appear
![image](https://user-images.githubusercontent.com/70724023/153655127-065a3e3c-a2c3-45a4-a954-522c0896c767.png)

Expected:
"Other" does not qualify for Women affinity

[2022-02-11 19:30] unity1979 commented on #35
My error, closing this bug.

[2022-02-11 19:30] #35 closed, assigned to unity1979

[2022-02-11 19:32] unity1979 commented on #34
The same bug applies these affinities:

1. LGBTQIA
2. Gender Expansive
3. Men
4. Women

[2022-02-11 20:09] unity1979 opened #36 "-Topics: Meeting organizers are unintentionally checking *all* Topics. Thus, Topic filters don't work as intended."
To reproduce:
https://recovery-dharma.flywheelsites.com/meetings/find-a-meeting/
List View → Filter → Topics → Food (or Codependency | Wise Friends)

Notice: Meetings not specialized in **only** Food appear. They seem to have selected multiple topics in confusion.

Examples of meetings that do not specialize in only food, but many topics:
• On the isms: **Codependency, Food, General, Other, Wise F

[2022-02-11 20:17] unity1979 commented on #36
The same is true of Codependency meetings. Appropriate codependency meetings are:
- Codependency Group of RDO
- Wise Intentions, Wise Boundaries

The same is true of Wise Friends meetings. Appropriate Wise Friends meetings are:
- _Immediates Support - Family Support_ (? maybe ?)
- Mentorship and Inquiry Circle Support

[2022-02-11 20:35] unity1979 opened #37 "-Request: Please Add 4 Topics to meeting topic attributes: Beginners, Family Support, Love & Lust, Mental Health"
Can we add these 4 topics? (Right now we are lumping them all into "Other". As of now, these topics have established meetings:)

- Beginners: 5 meetings
- Family Support: 2 meetings
- Love & Lust: 5 meetings
- Mental Health: 3 meetings

As seen:
![image](https://user-images.githubusercontent.com/70724023/153673744-2f825c46-1ad4-4e49-90b4-af82fa1b08fe.png)
![image](https://user-images.githubusercon

[2022-02-11 20:48] unity1979 opened #38 "-Request: Can we default to List View for the meeting list? (instead of Map View)"
Upon attempting to find a meeting, https://recovery-dharma.flywheelsites.com/meetings/find-a-meeting/
the meeting list goes to Map View for In-Person meetings around the world.

Unfortunately, at the moment, I am uninterested in attending in-person meetings around the world. However, I am highly interested in attending online meetings worldwide! :) so I simply need to click on List View to get to

[2022-02-11 22:07] nutjob4life commented on #29
Thanks @unity1979; I fixed Peaceful Harmony and Ann Arbor.

If you notice any others, please re-open and link 'em here in a comment

[2022-02-11 22:07] #29 closed, assigned to nutjob4life, tom-raley, KrisRecoveryDharma, unity1979

[2022-02-11 23:23] unity1979 opened #39 "Language "Abington RD" should be removed from language options"
The language "Abington RD" is seen in

Meetings List:
![image](https://user-images.githubusercontent.com/70724023/153683799-22ca5cab-6df7-4720-bd95-2c207a8c9799.png)

Create a meeting:
![image](https://user-images.githubusercontent.com/70724023/153683824-7e1c99eb-c927-455d-8c30-c3cbd167aeeb.png)

Expected behavior:
It should not be a language. :)

[2022-02-11 23:42] nutjob4life commented on #32
Passed onto the contractor. I know they worked long and hard on that feature, and having it trigger by an `onClick` event was a compromise to get it to happen.

I agree, though, that it'd be better if it were just "always on". Hopefully they can do that and they don't charge too much.

[2022-02-11 23:45] nutjob4life commented on #33
Passed request onto contractor

[2022-02-11 23:49] nutjob4life commented on #28
Asked contractor

[2022-02-11 23:50] nutjob4life commented on #31
I'm thinking we should just drop "Hybrid".

After all, you can check both "Online" and "In Person", so having a third option is redundant—and doesn't work! 😝

What do folks think?

[2022-02-11 23:52] nutjob4life commented on #37
Added the 4 topics

[2022-02-11 23:52] #37 closed, assigned to nutjob4life, KrisRecoveryDharma, unity1979

[2022-02-11 23:53] nutjob4life commented on #38
As nifty as the map view is, we're still in a pandemic. I think I'd agree.

@KrisRecoveryDharma what do you think?

[2022-02-11 23:54] nutjob4life commented on #39
Deleted

[2022-02-11 23:54] #39 closed, assigned to nutjob4life, KrisRecoveryDharma, unity1979

[2022-02-12 00:00] nutjob4life commented on #34
Wow those screenshots are _hard to read_.

But I don't get it. [From the meetings page](https://recovery-dharma.flywheelsites.com/meetings/find-a-meeting/) I do

1. List View
2. Filter (triple 🎚️  button)
3. Click AFFINITY
4. Click BIPOC (and be super patient)

and I get a list of meetings that all mention BIPOC. Isn't that correct?

[2022-02-12 00:07] nutjob4life commented on #30
Julia Hayes entered the data for multiple "Spokane Sangha RD" meetings. For 3 of them, though, they selected "in person" as the "event attendance mode". "In person" doesn't prompt for online meeting information and does not get an orange label—even if they also selected "hybrid" as the "type".

(All the more reason to dump "hybrid".)

[2022-02-12 00:07] #30 closed, assigned to nutjob4life, KrisRecoveryDharma, unity1979

[2022-02-12 00:11] nutjob4life commented on #36
My eyes are 52 years old. Your screenshot is unreadable ☹️

However, I am closing this as "unable to reproduce". When I visit [the meetings page](https://recovery-dharma.flywheelsites.com/meetings/find-a-meeting/) and do the following:

1. List view
2. Filter
3. Topics
4. Food

every meeting in the list has "Topics: Food".

This includes «On the "Isms"…» and «Heavy Metta».

Looks like it's working

[2022-02-12 00:48] unity1979 commented on #36
What lovely #FF00FF arrows there!  That's helpful.  I hear you @nutjob4life.

Okay let me update re-write this bug.

We are seeing meeting organizers check all the Topics boxes. Really, if it's a highly focused meeting, they often mark only one box (I'm thinking like a radio box).

If we look closer at the intended usage of Topics with meetings that specialize in food, we see only a single topic:

[2022-02-12 01:18] unity1979 commented on #34
You're correct. I'll try to reiterate and update the bug, and also restate it here in this comment. (and I'll try to have better screenshots!)

(I've updated the bug and screenshot)

[2022-02-12 01:41] unity1979 commented on #34
We may need to adjust the language of the text to replace "Select the Affinity Category"
![image](https://user-images.githubusercontent.com/70724023/153691233-5c66909c-428e-4afd-9218-74caaed377af.png)

Perhaps: "For Affinity Meetings Only. (Skip this, if you are unsure!) Select the Affinity self-identification to attend meeting."

[2022-02-12 05:28] unity1979 commented on #31
@nutjob4life I thought about this and thought of all the ways this actually makes a lot of good sense in my opinion. I like.

Above all, I appreciate when confusing words are avoided when possible—“hybrid” is a term that often needs explanation. In-person and Online don’t.

+1 to remove hybrid
(Subtask if approved: all existing “hybrids” should instead be checked both inperson and online)

[2022-02-12 08:46] unity1979 commented on #33
Nice. And If it takes too long we might apply a “workaround” fix where every meeting Name is prepended with a Weekday string (whether brute forced or programmatically)

[2022-02-12 16:11] nutjob4life commented on #33
Especially if they charge a lot for it. We can save some 💸  by sitting down and putting in day of the weeks ourselves. It'll be annoying for some 200 meetings but it can be done.

[2022-02-12 16:16] KrisRecoveryDharma commented on #31
Agree

On Fri, Feb 11, 2022, 6:51 PM Sean Kelly ***@***.***> wrote:

[2022-02-12 16:24] KrisRecoveryDharma commented on #36
This is a feature that has been a struggle for groups for decades on
various lists.  If a group checks food, then it will show up. It is a way
for a group to let others know that they are included, or that the topic
comes up often in discussion.

Ww could change the instructions, but i think a more egalitarian way would
be to use other options such as writing an article highlighting those
meetings

[2022-02-12 16:27] KrisRecoveryDharma commented on #38
I agree!

On Fri, Feb 11, 2022, 6:53 PM Sean Kelly ***@***.***> wrote:

[2022-02-12 16:28] KrisRecoveryDharma commented on #37
Like

On Fri, Feb 11, 2022, 6:52 PM Sean Kelly ***@***.***> wrote:

[2022-02-12 16:29] KrisRecoveryDharma commented on #32
This is where we are running into the limits of out of the box.

On Fri, Feb 11, 2022, 6:42 PM Sean Kelly ***@***.***> wrote:

[2022-02-12 16:34] KrisRecoveryDharma commented on #34
Perhaps adding that it is a closed is that it is a closed meeting?

OK, I am leaning in the direction of changing the instructions

On Fri, Feb 11, 2022, 2:07 PM A. Thomas Tran ***@***.***>
wrote:

[2022-02-12 18:45] unity1979 commented on #36
I know these topics have been a long struggle, but decades! 😁

Here is a **proposed solution**:
1. Rename “Topics” → “Topic”
2. Remove the “General” topic (from topics list)
3. Remove the “General” flag for all meetings
4. Change the string “Select the Topics Category”
![](https://user-images.githubusercontent.com/70724023/153689068-eef5f7d0-99e4-4f84-befb-9dee2acf799c.png)
→ “(Skip this—unless th

[2022-02-12 20:07] unity1979 commented on #34
Ok changing the instructions does meet these needs!

**Proposed Solution:**
1. Rename string from "Select Affinity Category" → “(Skip this, for meetings Open to All) For Closed meetings ONLY: choose Affinity self-identification requirement(s)”
2. Rename affinity type "Men" to "Men and Non-Binary" (inherently trans-inclusive)
3. Rename affinity type "Women" to "Women and Non-Binary" (inherently tra

[2022-02-12 20:14] unity1979 commented on #28
Great!

(btw IMHO, this shouldn't cost anything extra, if they attempt invoice you:

This is clearly an internationalization bug. Internationalization bugs arise sooner or later. Reporting this bug sooner helps them fix this bug sooner and prevent all future troubles for them, us, everyone.)

[2022-02-12 20:43] unity1979 opened #40 "-Request: Allow URL to intake parameters for filters. (e.g. 'http://recoverydharma.org/meetings/affinity?bipoc=true&female=true')"
It would be extremely helpful and powerful to be able to create dynamic links which instantly open to Affinities/Topics, e.g.:
• _Women's_ Meetings List, via a URL: **"?affinity=women"**
https://recoverydharma.flywheelsites.com/meetings/find-a-meeting/?affinity=women

or
• _Topics_ Meetings List: _Beginners & Codependency & Family Support & Food & Inquiry & Love+Lust & Mental Health & Speaker & Wi

[2022-02-12 21:43] unity1979 opened #41 "-Request: Can we default to reveal filters?"
Currently, a user must click on the **ambiguous green Filter icon** to reveal filters (Type/Format/Affinity/Topics...)
![image](https://user-images.githubusercontent.com/70724023/153729270-56841e61-46d8-46c7-92c4-03d0eed9f395.png)

In any situation, a user will likely need to use the filter. For example:
- In map view, user is looking for Type: In-Person. (Uncheck: online)
- In list view, user is

[2022-02-13 14:57] unity1979 opened #42 "Request: To reduce loading time by ~75%, perhaps limit search results to 1 Week of results? (temporarily)"
When in list view, I have seen loading times take from 45seconds to 5 minutes+

Suggestion: Limit search to one-week-at-a-time (Only this week of February, for example).  Meetings generally repeat weekly, anyway.

Expected: This would cut down loading times by up to an estimated 75%

Unintended Bad Side Effect: This could be bad if looking for a meeting that only happens once a month.

[2022-03-02 19:14] unity1979 opened #43 "Prune "old" meetings list of <2021 meetings. (Tag meetings for removal if not heard from since 2020)"
Let's cleanup our old meeting list, since we're still going to use it for an unknown period of time.

Reason:
People have reported numerous online & inperson meetings that are no longer happening. We have 90 meetings that have not been updated since 2020. The user experience of attempting to attend an in-person meeting, where no meeting is happening causes suffering. We can be skillful by keeping

[2022-03-02 19:44] KrisRecoveryDharma commented on #43
I like this idea.
Adjustments:
* Let's make it two weeks with a second email and a social media splash going out.
* We'll need to go through our RDG review process to approve the content of the mass emails and social media posts.

Kris

[2022-03-09 20:56] unity1979 commented on #43
@KrisRecoveryDharma Here is a draft email. Can you review and make edits for this?:

Dear Admirable RD Meeting Organizer(s),

With the new RDG website launch, now is a good time to ensure the meeting list is also refreshed. It’s been a long while since COVID began. Our official 400+ meeting list has been a huge collective effort—and we *need* your help.

You’re receiving this email because:
1- You

[2022-03-10 17:47] KrisRecoveryDharma commented on #43
Thanks! I will send edits. Soon.  Generally good, tho!

Question:
Are the meetings visibly tagged on the spreadsheet?  Can organizers go
check it out?

So, the meeting is still active, but no one is monitoring the email we are
sending to.

On Wed, Mar 9, 2022, 3:56 PM A. Thomas Tran ***@***.***>
wrote:

[2022-03-10 19:02] unity1979 commented on #43
Re tagging: No, they will not be visibly tagged.

Yes, the meeting is still active according to anyone looking at the site. If nobody is monitoring the email we are sending to, then unfortunately the meeting will go down.

We can always add a column that says, "Tagged for removal, pls email ... if this meeting is still active!"

[2022-03-11 17:27] KrisRecoveryDharma commented on #43
Yes, let's add a column.

Though maybe start with a gentler message:  Update Needed

Then we can use social media for the warning language.

On Thu, Mar 10, 2022, 2:02 PM A. Thomas Tran ***@***.***>
wrote:

[2022-03-11 21:07] unity1979 commented on #43
Perfect, it's on my task list then.

What do you mean by "use social media for the warning language?" I'm not
sure I understand the details

On Fri, Mar 11, 2022 at 9:27 AM Kris Recovery Dharma <
***@***.***> wrote:

[2022-03-12 06:45] KrisRecoveryDharma commented on #43
When we sent the email burst, we will also post messages on our accounts
for Instagram, twitter etc.  In this messages, we can be more detailed
about the plan to prune.

On Fri, Mar 11, 2022, 4:07 PM A. Thomas Tran ***@***.***>
wrote:

[2022-03-21 05:56] unity1979 commented on #43
@KrisRecoveryDharma Sounds good. Should we move forward with emails (coming from meetings@recoverydharma.org?)

BTW I added the appropriate column header with "Update Needed?" with the example data in the Japan timezone at http://japan.rd.guide - it says

"Update Needed. Last: 4/21/2020" for example
![image](https://user-images.githubusercontent.com/70724023/159211467-83f03d08-8879-46cc-839a-64356

[2022-03-21 13:04] KrisRecoveryDharma commented on #43
Thank you for creating that. It is very helpful.

I was pulled to other tasks last past week. My next step for this project
is to add a few edits to the draft of the email.

Kris

On Mon, Mar 21, 2022, 1:57 AM A. Thomas Tran ***@***.***>
wrote:

[2022-05-04 17:40] unity1979 commented on #43
This is completed. Report:

115 Meetings were marked for pruning
55 Meetings were pruned (Hidden - No response)

60 Meetings received a response for either:
1) Still active; or
2) No longer active, please remove

Huzzah! Thanks for your help Kris!

[2022-05-04 17:40] #43 closed, assigned to KrisRecoveryDharma, Lacey-boop, unity1979

[2022-07-12 23:36] unity1979 opened #44 "Meetings spreadsheet: it's crashing iPhones when opening via Google Sheets"
Steps to Reproduce:
1. via Google Sheets app on an iPhone, open meetings list
2. Notice that it loads OK and things populate
3. After 2 seconds, the app crashes.

4. via Browser on an iPhone, open meetings list
5. Notice that it does not crash

![image](https://user-images.githubusercontent.com/70724023/178615668-568d9469-8026-4053-8bf8-8014e64a4dd7.png)

This has been happening for me and probabl

[2022-11-08 23:12] unity1979 opened #45 "Complete the transition of Thomas Tran's volunteer position from RDG meeting list"
Here is my final task list for completing the transition of my volunteer position from RDG meeting list.
* Created training notes on How-To maintain meetings submissions/updates/removals ✅ (in 🎖Training Notes)
* Met with Board (Kris, Lacey, Sinyi) to relay training notes ✅
* Created documentation for daylight savings timezone shifts ✅ (also in 🎖Training Notes)
* TODO: Remove references to rd.guide

[2022-11-10 06:11] unity1979 commented on #45
* Removed references to rd.guide (decoupling for good ethics) ✅
* Remove editor permissions on google form for A. Thomas Tran ✅

Before removing my editor permissions on spreadsheet, I've made some of these final cleanups to the spreadsheet so it's in good working order:
- * replaced rd.guide links with created bit.ly links (necessary for the Printer links to keep working)
- * fixed typos(abbrevia

[2022-11-13 21:34] unity1979 commented on #45
I've cleaned up the spreadsheet to a good place where it's looking very tidy. Thank you for allowing me to be of service.

[2022-11-13 21:34] unity1979 commented on #45
* Removed editor permissions on spreadsheet for A. Thomas Tran ✅

[2022-11-13 21:34] #45 closed, assigned to unity1979